# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Competência 03 - Django Project
competencia03/competencia03/__pycache__/
competencia03/core/__pycache__/
competencia03/core/migrations/__pycache__/
